body {
    font-family: Arial, Helvetica, sans-serif;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 650px;
    height: 600px;
    padding: 20px 30px;
    background: #fff;   
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, .15); 
    border-radius: 5px;
    transform: translate(-50%, -50%);
}

.edit-address-form {
    border-radius: 10px;
}

.edit-address-form h2 {
    text-align: center;
    color: rgb(44, 23, 132);
    margin-bottom: 20px;
}

.edit-address-form .form-element {
    display: flex;
    margin-bottom: 15px;
    font-weight: bold;
    gap: 5px;
    flex-direction: column;
    color: rgb(44, 23, 132);
}

.edit-address-form button[type="submit"] {
    background-color: rgb(44, 23, 132);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    transition: background-color 200ms;
    cursor: pointer;
}

.edit-address-form button[type="submit"]:hover {
    background-color: rgb(23, 8, 92);
}

.border-container .edit-address-form input[type="text"],
.border-container .edit-address-form input[type="text"],
.border-container .edit-address-form input[type="text"],
.border-container .edit-address-form input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}