*{
    text-decoration: none;
}
html{
    background-color: rgb(216, 216, 216);
}
body{
    margin: 0;
}

.type1{
    all: unset;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    margin-left: 10px;
    padding: 16px;
    font-size: 19px;
    font-weight: bold;
    color:#2c1784;
    transition: 200ms background-color;
    cursor: pointer;
}
.type1:hover{
background-color: rgb(230, 230, 230);
}

.type2{
    all: unset;
    color: white;
    background-color: rgb(44, 23, 132);
    padding: 16px;
    font-weight: bold;
    font-size: 17px;
    border-radius: 20px;
    transition: 200ms background-color;
    cursor: pointer;   
}

.type2:hover{
    background-color: rgb(23, 8, 92);
}


.navbar{
    background-color: white;
    padding-right: 15px;
    padding-left: 15px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

li{ 
    justify-content: center;
    list-style: none;
    display: inline-block;
    font-size: 18px;
    margin-right: 35px;
}

.navbar ul li a {
    justify-content: center;
    color:rgb(44, 23, 132);
}

.team-member{
    float: left;
}
.logo{
    display: flex;
    align-items: center;
}

.vertical-line {
    width: 1px;
    height: 50px; 
    background-color: rgb(44, 23, 132);
    margin: -20px 0px;
    box-sizing: border-box;
}
