.about-us{
    padding-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: rgb(44, 23, 132);
}

.about-section{
    display: flex;
    flex-grow: 1;    
    gap: 3%;
    align-items: center;
    margin-inline: 20px;
    padding-left: 80px;
}

.about-info{
    position: absolute;
    width: 900px;
    top: 250px;
    background-color: white;
    padding: 20px;
    gap: 20px;
    flex-wrap: wrap;
    border-radius: 10px;
}

.about-info p {
    font-family: Arial, sans-serif;
}

.about-img{
    position: absolute;
    top: 200px;
    right: 300px;
    border-radius: 10px;
}