<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/style-about.css">
    <link rel="stylesheet" href="/static/about-footer.css">
    <link rel="icon" href="/static/favicon.png">
    <script src="https://kit.fontawesome.com/1165876da6.js" crossorigin="anonymous"></script>
    <title>KURYAPP - About</title>

</head>
<body>
    <nav class="navbar">
        <a href="/" class="logo">
            <img src="/static/kuryapp.png" alt="Kuryapp Logo">
        </a>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><div class="vertical-line"></div></li>
                {% if 'user_id' in session %}
                <a class="type1" href="/profile" name="username">{{ session['username'] }} </a>
                <a class="type2" href="{{ url_for('logout') }}">Logout</a>
                {% else %}
                    <a class="type1" href="/login">Login</a>
                    <a class="type2" href="/register">Register</a>
                {% endif %}
            </ul>     
    </nav>
    <h1 class="about-us">About Us</h1>
    <section class="about-section">
        <div class="about-info">
            <p>KURYAPP is a web-based courier application that facilitates digital transformation in the courier services industry. Developed as the third project of the COMP204 Programming Studio course, this innovative platform streamlines interactions between senders and couriers, enhancing both the speed and reliability of the courier service.</p>
            <p>Our company's objective is to provide an optimal experience for both our customers and courier partners. Each shipment is meticulously managed, and every effort is made to maximize customer satisfaction.</p>
            <p>The KURYAPP application was successfully launched by a team comprising individuals with expertise in various disciplines, including software development, design, business development, and marketing.</p>
            <p>The team's vision is to spearhead the digitalization trend in courier services by offering users a reliable and innovative platform. Moving forward, the team will continue to enhance the application to better align with the evolving needs of customers and courier partners.</p>
            <p>As the KURYAPP team, our objective is to maximize customer satisfaction and facilitate the accessibility of courier services. We invite you to join us in exploring this innovative experience and contribute to the improvement of your courier shipments.</p>
        </div>
    </section>
    <img src="/static/about-photo.png" alt="About Us" class="about-img">
    
    <footer>
        <div class="footer-container">
            <div class="footer-logo">
                <img src="/static/kuryapp.png" alt="Kuryapp Logo">
            </div>
            <div class="footer-content">
                <h4>Quick Links</h4>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
            <div class="footer-content-links">
                <h5>Follow Us</h5>
                <ul>
                    <li><p>ataascioglu</p><a href="https://github.com/ataascioglu"><i class="fab fa-github"></i></a></li>
                    <li><p>efegunay</p><a href="https://github.com/efegunay"><i class="fab fa-github"></i></a></li>
                    <li><p>umuterdev</p><a href="https://github.com/umuterdev"><i class="fab fa-github"></i></a></li>
                    <li><p>Mehmetenespolat38</p><a href="https://github.com/Mehmetenespolat38"><i class="fab fa-github"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="bottom-bar">
            <p>&copy; 2024 KURYAPP. All Rights Reserved.</p>
        </div>
    </footer>
</body>
</html>