<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/style-contact.css">
    <link rel="stylesheet" href="/static/general-footer.css">
    <link rel="icon" href="/static/favicon.png">
    <script src="https://kit.fontawesome.com/1165876da6.js" crossorigin="anonymous"></script>
    <title>KURYAPP - Contact</title>
</head>
<body>
    <nav class="navbar">
        <a href="/" class="logo">
            <img src="/static/kuryapp.png" alt="Kuryapp Logo">
        </a>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><div class="vertical-line"></div></li>
                {% if 'user_id' in session %}
                <a class="type1" href="/profile" name="username">{{ session['username'] }} </a>
                <a class="type2" href="{{ url_for('logout') }}">Logout</a>
                {% else %}
                    <a class="type1" href="/login">Login</a>
                    <a class="type2" href="/register">Register</a>
                {% endif %}
            </ul>
    </nav>
    <h1 class="contact-us">Contact Us</h1>
    <section class="contact-section">
        <div class="container">
            <div class="team-member">
                <img src="/static/ata-memoji.png" alt="Ata memoji">
                <h2>Ata Aşcıoğlu</h2>
                <p>School ID: 042201172</p>
                <p>Email: ascioglua@mef.edu.tr</p>
            </div>
            <div class="team-member">
                <img src="/static/efe-memoji.png" alt="Efe memoji">
                <h2>Efe Günay</h2>
                <p>School ID: 042101085</p>
                <p>Email: gunayef@mef.edu.tr</p>
            </div>
            <div class="team-member">
                <img src="/static/ata-memoji.png" alt="Ata memoji">
                <h2>Umut Er</h2>
                <p>School ID: 042201165</p>
                <p>Email: eru@mef.edu.tr</p>
            </div>
            <div class="team-member">
                <img src="/static/ata-memoji.png" alt="Ata memoji">
                <h2>Mehmet Enes Polat</h2>
                <p>School ID: School ID</p>
                <p>Email: polatm@mef.edu.tr</p>
            </div>
        </div>

        <iframe class="location" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3006.175937161199!2d29.006021476532617!3d41.10884851322543!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab5cfa9c562b1%3A0xd94f6327566e85d6!2sMEF%20%C3%9Cniversitesi!5e0!3m2!1str!2str!4v1715862210931!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
    <footer>
        <div class="footer-container">
            <div class="footer-logo">
                <img src="/static/kuryapp.png" alt="Kuryapp Logo">
            </div>
            <div class="footer-content">
                <h4>Quick Links</h4>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
            <div class="footer-content-links">
                <h5>Follow Us</h5>
                <ul>
                    <li><p>ataascioglu</p><a href="https://github.com/ataascioglu"><i class="fab fa-github"></i></a></li>
                    <li><p>efegunay</p><a href="https://github.com/efegunay"><i class="fab fa-github"></i></a></li>
                    <li><p>umuterdev</p><a href="https://github.com/umuterdev"><i class="fab fa-github"></i></a></li>
                    <li><p>ataascioglu</p><a href="https://github.com/ataascioglu"><i class="fab fa-github"></i></a></li>
                </ul>
        </div>
        <div class="bottom-bar">
            <p>&copy; 2024 KURYAPP. All Rights Reserved.</p>
    </footer>
</body>
</html>
