<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/profile.css">
    <link rel="stylesheet" href="/static/style-flash-message.css">
    <link rel="icon" href="/static/favicon.png">
    <title>Profile</title>
</head>
<body>
    <nav class="navbar">
        <a href="/" class="logo">
            <img src="/static/kuryapp.png" alt="Kuryapp Logo">
        </a>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><div class="vertical-line"></div></li>
            {% if 'user_id' in session %}
            <a class="type1" href="/profile" name="username">{{ session['username'] }} </a>
            <a class="type2" href="{{ url_for('logout') }}">Logout</a>
            {% else %}
                <a class="type1" href="/login">Login</a>
                <a class="type2" href="/register">Register</a>
            {% endif %}
        </ul>
    </nav>
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div id="flash-container">
                    {% for category, message in messages %}
                        <div class="flash-message {{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        {% block content %}
    </div>
    <div class="border-container">
        <br><br>
        <a class="type2" href="/add-address">Add Address</a> 
        <br><br>
        <div class="address-info-container">
            <h3>Address Information</h3>
            <div id="address-info">
                {% for address in addresses %}
                    <div class="address-item">
                        <form action="/delete-address/{{ address[0] }}" method="POST">
                            <input type="hidden" name="address_id" value="{{ address[0] }}">
                            <button type="submit" class="delete-button">Delete</button>
                        </form>                                       
                        <div class="address-details">
                            <p><strong>Label:</strong> {{ address[0] }}</p>
                            <p><strong>Address:</strong> {{ address[1] }}</p>
                            <p><strong>City:</strong> {{ address[2] }}</p>
                            <p><strong>Postal Code:</strong> {{ address[3] }}</p>
                        </div>
                    </div>
                {% else %}
                    <p>No addresses found.</p>
                {% endfor %}
            </div>
        </div>
    </div>
        {% endblock %}
    </div>
   
        <script src="/static/validateForm.js"></script>
    <script src="/static/hideFlash.js"></script>
</body>
</html>
