<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/profile.css">
    <link rel="stylesheet" href="/static/style-flash-message.css">
    <link rel="icon" href="/static/favicon.png">
    <title>Profile</title>
</head>
<body>
    <nav class="navbar">
        <a href="/" class="logo">
            <img src="/static/kuryapp.png" alt="Kuryapp Logo">
        </a>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><div class="vertical-line"></div></li>
            {% if 'user_id' in session %}
            <a class="type1" href="/profile" name="username">{{ session['username'] }} </a>
            <a class="type2" href="{{ url_for('logout') }}">Logout</a>
            {% else %}
                <a class="type1" href="/login">Login</a>
                <a class="type2" href="/register">Register</a>
            {% endif %}
        </ul>
    </nav>
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div id="flash-container">
                    {% for category, message in messages %}
                        <div class="flash-message {{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        {% block content %}
        <div class="border-container">
            <br><br>
            <a class="type2" href="/add-address">Add Address</a> 
            <br><br>
            <div class="address-info-container">
                <h3>Address Information</h3>
                <div id="address-info">
                    {% for address in addresses %}
                        <div class="address-item">
                            <form action="/delete-address/{{ address[4] }}" id="delete-form" method="POST">
                                <input type="hidden" name="address_id" value="{{ address[4] }}">
                                <button type="submit" class="delete-button"><svg fill="currentColor" stroke-width="0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" height="1.2em" width="1.2em" style="overflow: visible; color: currentcolor;"><path d="m170.5 51.6-19 28.4h145l-19-28.4c-1.5-2.2-4-3.6-6.7-3.6h-93.7c-2.7 0-5.2 1.3-6.7 3.6zm147-26.6 36.7 55H424c13.3 0 24 10.7 24 24s-10.7 24-24 24h-8v304c0 44.2-35.8 80-80 80H112c-44.2 0-80-35.8-80-80V128h-8c-13.3 0-24-10.7-24-24s10.7-24 24-24h69.8l36.7-55.1C140.9 9.4 158.4 0 177.1 0h93.7c18.7 0 36.2 9.4 46.6 24.9zM80 128v304c0 17.7 14.3 32 32 32h224c17.7 0 32-14.3 32-32V128H80zm80 64v208c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16zm80 0v208c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16zm80 0v208c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16z"></path></svg></button>
                            </form>                                       
                            <div class="address-details">
                                <p><strong>Label:</strong> {{ address[0] }}</p>
                                <p><strong>Address:</strong> {{ address[1] }}</p>
                                <p><strong>City:</strong> {{ address[2] }}</p>
                                <p><strong>Postal Code:</strong> {{ address[3] }}</p>
                            </div>
                        </div>
                    {% else %}
                        <p>No addresses found.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
            {% endblock %}
        </div>
    </div>
        <script src="/static/validateForm.js"></script>
    <script src="/static/hideFlash.js"></script>
</body>
</html>
