<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/style-register.css">
    <link rel="stylesheet" href="/static/style-flash-message.css">
    <link rel="icon" href="/static/favicon.png">
    <title>KURYAPP - Register</title>
</head>
<body>
    <nav class="navbar">
        <a href="/" class="logo">
            <img src="/static/kuryapp.png" alt="Kuryapp Logo">
        </a>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><div class="vertical-line"></div></li>
            <a class="type1" href="/login">Login</a>
            <a class="type2" href="/register">Register</a>
        </ul>
    </nav>
    
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div id="flash-container">
                    {% for category, message in messages %}
                        <div class="flash-message {{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
        <div class="popup">
            <section class="login-section">
                <form class="form" method="post">
                    <h2>Register</h2>
                    <div class="form-element">
                        <label for="username">Username:</label>
                        <input type="text" id="username" name="username" placeholder="Enter your username" autocomplete="off" autofocus required>
                    </div>
                    <div class="form-element">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" placeholder="Enter your email" autocomplete="off" required>
                    </div>
                    <div class="form-element">
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" placeholder="Enter your password" required>
                    </div>
                    <div class="form-element">
                        <label for="confirm-password">Confirm Password:</label>
                        <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirm your password" required>
                    </div>
                    <div class="form-element">
                        <label for="user-type">I am a:</label>
                        <select id="user-type" name="user-type" required>
                            <option value="" disabled selected>Select your role</option>
                            <option value="customer">Customer</option>
                            <option value="courier">Courier</option>
                        </select>
                    </div>
                    <div class="form-element">
                        <button class="register-btn" type="submit">Register</button>
                    </div>
                    <div class="form-element">
                        <a href="/login">Already have an account?</a>
                    </div>
                </form>
            </section>
        </div>
        <img src="/static/login-register-bg.png" alt="Register Image" class="register-image">
    </div>
    <script src="/static/hideFlash.js"></script>
</body>
</html>
